body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-container {
  overflow: hidden;
}

.slides-container {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-slide {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media(min-width: 768px){
  .carousel-slide {
    width: 100vw;
  }
}

/* .carousel-controls {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
} */

.carousel-slide-image {
  width: 100%;
}

.slide-indicators {
  display: flex;
  justify-content: space-evenly;
}
.slide-indicator-button {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #aaa;
  border: none;
}
.slide-indicator-button.active {
  background-color: #333;
}